.room-container {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-container .send-message{
    margin-top: 10px;
}
.room-container .send-message input{
    margin-left: 5px;
    width: calc(100% - 30px);
    padding: 7px 10px;
    font-size: 1.2rem;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 7px;
}

@media screen and (max-width: 480px){
    .room-container .send-message input{
        position: fixed;
        width: calc(100vw - 45px);
        bottom: 3vh;
        left: 12px;
        border: 1px solid #ccc;
    }
}
