.messagebox-control {
    margin-top: 5vh;
    box-shadow: 0 0 25px #ddd;
    border-radius: 7px;
    padding: 10px 10px;
}

.messagebox-control .exit {
    color: white;
    background: #888;
    box-shadow: 0 0 25px #ddd;
    padding: 4px 10px;
    font-size: 0.75rem;
    border-radius: 3px;
    text-decoration: none;
    float: right;
    margin-top: -1px;
    cursor: pointer;
    transition: 0.3s;
}

.messagebox-control .exit:hover {
    background: #D32F2F;
    box-shadow: 0 0 5px #D32F2F;
}

.messagebox-container {
    margin-top: 10px;
    height: 60vh;
    max-height: 600px;
    background: #fff;
    padding: 20px 10px;
    border-radius: 7px;
    overflow-y: scroll;
    box-shadow: 0 0 25px #ddd;
}


.messagebox-container .message {
    padding: 5px 15px;
    border-radius: 7px;
}
.messagebox-container .message small {
    color: #bbb;
    display: block;
    font-size: 0.5rem;
    margin-top: -15px;
}

.messagebox-container .message-sent {
    text-align: right;
}

.messagebox-container .message-recieved {
    text-align: left;
}

@media screen and (max-width: 480px){
    .messagebox-control {
        position: fixed;
        left: 12px;
        width: calc(100% - 45px);
    }
    .messagebox-container {
        position: fixed;
        height: 55vh;
        max-height: 55vh;
        width: calc(100% - 45px);
        left: 12px;
        top: 12vh;
        box-shadow: 0 0 25px #ccc;
    }
}
